[mysqld]
basedir   = /data/mariadb
datadir   = /data/mariadb/data
pid-file  = /data/mariadb/data/mariadb.pid
user      = root


skip-networking=0

bind-address=127.0.0.1
socket=/tmp/mariadb.sock
ssl=0
port=3306
skip_log_bin=1
server_id=1
max_connections=100000
thread_pool_max_threads=1024
thread_handling=pool-of-threads
thread_pool_size=24
table_open_cache=2000
table_open_cache_instances=16
back_log=1500
max_prepared_stmt_count=128000
character_set_server=latin1
collation_server=latin1_swedish_ci
transaction_isolation=REPEATABLE-READ
join_buffer_size=32K
sort_buffer_size=32K
performance_schema=OFF
event_scheduler=OFF
log_error=mariadb.err

innodb_open_files=500005
innodb_log_buffer_size=64M


innodb_buffer_pool_size=64G

innodb_buffer_pool_instances=16

innodb_log_file_size=32G

innodb_doublewrite=1
innodb_flush_log_at_trx_commit=0
innodb_use_native_aio=1
innodb_stats_persistent=1
innodb_log_write_ahead_size=4096

innodb_purge_threads=4
innodb_max_purge_lag_wait=0
innodb_max_purge_lag=0
innodb_max_purge_lag_delay=1

innodb_io_capacity=4000
innodb_io_capacity_max=20000

innodb_lru_scan_depth=2048

innodb_read_only=0
innodb_adaptive_hash_index=0
innodb_undo_log_truncate=on
innodb_undo_tablespaces=1
innodb_fast_shutdown=1

innodb_max_dirty_pages_pct=1
innodb_max_dirty_pages_pct_lwm=0.1
innodb_adaptive_flushing=1
innodb_adaptive_flushing_lwm=0.1
innodb_flush_neighbors=0

innodb_read_io_threads=16
innodb_write_io_threads=16
innodb_page_cleaners=8

innodb_read_ahead_threshold=0
innodb_buffer_pool_dump_at_shutdown=0
innodb_buffer_pool_load_at_startup=0


[client]
socket=/tmp/mariadb.sock
port=3306

[mysqldump]
quick
max_allowed_packet=64M

[mysqld_safe]
malloc-lib=/lib/x86_64-linux-gnu/libjemalloc.so.2

[mysqld]

transaction_isolation=READ-COMMITTED
