---
const date = new Date();
const year = date.getFullYear(); 
---
<footer>&copy; 2022-{year} TidesDB Corp. | <a href="https://tidesdb.com/sponsors">Sponsors</a> | <a href="/licensing">Licensing</a>  | <a href="/support">Support</a> | <a href="/partners">Partners</a></footer>