---
const date = new Date();
const year = date.getFullYear(); 
---
<footer>&copy; {year} TidesDB • Licensed under <a href="https://mozilla.org/MPL/2.0/">MPL-2.0</a> | <a href="https://tidesdb.com/sponsors">Sponsors</a></footer>